{% extends 'base.html' %}

{% block title %}
email-письма
{% endblock %}

{% block body %}
<h1 align="center">Примеры email-писем</h1>

<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

      <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url({{ url_for('static', filename='img/uber_os.PNG') }});">
                <a href="{{ url_for('mail_uber') }}">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Uber</h3>
                    </div>
                </a>
            </div>
      </div>

      <div class="col" style="height: 400px">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url({{ url_for('static', filename='img/aishan_on_site.PNG') }}); href={{ url_for('mail_other') }}">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <a href="{{ url_for('mail_other') }}">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Aushan</h3>
              </a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url({{ url_for('static', filename='img/dugimail_os.PNG') }}); href=({{ url_for('mail_new') }})">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <a href="{{ url_for('mail_other') }}">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Duggimail</h3>
              </a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}